body {
    background-color: transparent;
    color: #d3d3d3;
}

h1 {
    color: #66FCF1;
    text-align: left;
    margin-left: 55px;
    margin-top: 85px;
}
.custom-title {
    color: #66FCF1;
    text-align: left;
    margin-left: 10px;
}
.icon img {
    max-width: 65px;
}

.icon {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px; /* Отступ справа от иконки */
}

.icon:hover {
    background-color: #333333;
    transition: background-color 0.3s ease;
}

.container1 {
    margin-top: 55px;
    max-width: 1100px; /* Установите желаемую максимальную ширину */
    margin-left: auto;
    margin-right: auto; /* Центрирование контейнера */
}

.text-content {
    max-width: 180px; /* Узкая ширина для текста в три строки */
}

p {
    color: #d3d3d3;
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
    line-height: 1.5;
    word-wrap: break-word; 
}
.p1 {
    color: #d3d3d3;
    margin-left: 45px;
    text-align: left;
    line-height: 1.5;
    word-wrap: break-word; /* Перенос текста */
}
